<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Rocky Mountains</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Once every decade, an exciting, prestigious, and inspiring bike race takes place in Colorado at the foot of the Rocky Mountains.</h2>
            <a class="btn btn-primary js-scroll-trigger" href="#about" id="timer"></a>
        </div>
    </div>
</header>
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">About us, Boulder Bike Tour</h2>
                <p class="text-white-50">
                    Boulder Bike Tour and many other events as well. , for every cyclist a bit smaller in size than you are will have an official stall selling everything from bicycle helmets to all sorts of cycling gear on sale!
                </p>
            </div>
        </div>
        <%= image_tag ("biking-new.png"), class: "img-fluid", alt: "" %>
    </div>
</section>
<section class="signup-section">
</section>
<section class="contact-section bg-black" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50">4923 Rocky Mountains, Colorado</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50"><a href="#!">hello@boulder-bike-tour.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50">+1 (555) 902-8832</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-instagram"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</section>