<footer class="footer bg-black small text-center text-white-50">
  <div class="container">
    Copyright © Boulder Bike Tour 2020 | All rights reserved.
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>