<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card bg-light">
        <div class="card-body">
          <h3>For questions about the</h3>
          <h3>Coming bike tour in Colorado at the foot of the Rocky Mountains</h3>
          <h3>Contact us on:</h3>
          <p>Office: 7615 W 38th Ave b101, Wheat Ridge, CO 80033, United States</p>
          <p>Tel: +(970) 586-1222</p>
          <p>Email: info@boulder-bike-tour.com</p>
          <p><a href="#"><i class="fa fa-facebook fa-2x"></i></a> &nbsp; <a href="#"><i class="fa fa-twitter fa-2x"></i></a> &nbsp; <a href="#"><i class="fa fa-instagram fa-2x"></i></a> &nbsp; <a href="#"><i class="fa fa-flickr fa-2x"></i></a> </p>
        </div>
      </div>
    </div>
  </div>
</div>